:root {
  --primary-color: green;
  --margin: 10px;
}



h2 {
  --margin: 20px;
  margin: var(--margin);
  background-color: var(--primary-color);
  color: white;
  padding: .5rem;
}

p {
  margin: var(--margin);
  color: var(--primary-color);
}