/* 
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

#principal {
    /* GRID LAYOUT: */
    display: grid; /* essa linha define o grid layout */
    /* Linhas abaixo definem como serão dispostos os blocos */
    grid-template-areas: "cabecalho cabecalho"
                         "menu      menu"
                         "conteudo  aside"
                         "rodape    rodape";
    
    /* 2 enters para as linhas de cima */
    /* Define a altura das LINHAS: */
    grid-template-rows: 20px 30px 200px 20px; /* primeira_linha(cabecalho) segunda_linha(menu) terceira_linha(conteudo e aside) quarta_linha(rodape)*/
    /* Define a largura das COLUNAS. Pode ser tanto definindo diretamente os valores de cada coluna [unidades: valores absolutos, percentuais, ou frações] quanto usando o repeat [quando quer colocar o mesmo valor para cada coluna - sintaxe: repeat(número_de_colunas, quanto_cada_coluna_ocupa)]. Exemplos: 
    50px 50px
    80% 20%
    1fr 1fr OU 2fr 1fr OU 1.7fr 0.3fr
    repeat(2, 1fr) OU repeat(2, 50%)
    */
    grid-template-columns: repeat(2, 50%); /* primeira_coluna segunda_coluna */
}

.cabecalho {
    background-color: red;
    /* valor do grid-area = mesmo do #principal -> grid-template-areas */
    grid-area: cabecalho;
}

.menu {
    background-color: blue;
    /* valor do grid-area = mesmo do #principal -> grid-template-areas */
    grid-area: menu;
}

.conteudo {
    background-color: green;
    /* valor do grid-area = mesmo do #principal -> grid-template-areas */
    grid-area: conteudo;
}

.conteudo-secundario {
    background-color: violet;
    /* valor do grid-area = mesmo do #principal -> grid-template-areas */
    grid-area: aside;
}

.rodape {
    background-color: darkgoldenrod;
    /* valor do grid-area = mesmo do #principal -> grid-template-areas */
    grid-area: rodape;
}




